    <div id="home" class="parallax first-section" data-stellar-background-ratio="0.4" style="background-image:url('uploads/parallax_12.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="big-tagline">
                        <h2>Submit your Quotation </h2>
                        <p class="lead">Life isn't about finding yourself. Life is about creating yourself.</p>
                        <a href="#support" class="btn btn-light btn-radius btn-brd ban-btn">Get started</a>
                    </div>
                </div>

                <div class="app_iphone_02 wow slideInUp hidden-xs hidden-sm" data-wow-duration="1s" data-wow-delay="0.5s">
                    <img src="uploads/rocket.png" alt="" class="img-responsive">
                </div>
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->

    <svg id="clouds" class="hidden-xs" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 85 100" preserveAspectRatio="none">
        <path d="M-5 100 Q 0 20 5 100 Z
            M0 100 Q 5 0 10 100
            M5 100 Q 10 30 15 100
            M10 100 Q 15 10 20 100
            M15 100 Q 20 30 25 100
            M20 100 Q 25 -10 30 100
            M25 100 Q 30 10 35 100
            M30 100 Q 35 30 40 100
            M35 100 Q 40 10 45 100
            M40 100 Q 45 50 50 100
            M45 100 Q 50 20 55 100
            M50 100 Q 55 40 60 100
            M55 100 Q 60 60 65 100
            M60 100 Q 65 50 70 100
            M65 100 Q 70 20 75 100
            M70 100 Q 75 45 80 100
            M75 100 Q 80 30 85 100
            M80 100 Q 85 20 90 100
            M85 100 Q 90 50 95 100
            M90 100 Q 95 25 100 100
            M95 100 Q 100 15 105 100 Z">
        </path>
    </svg>
    <section class="section nopad cac text-center">
        <a href="#"><h3>Thank you for being here and supporting us !</h3></a>
    </section>

    <div id="services" class="section lb">
        <div class="container">
            <div class="section-title text-center">
                <h3>We Provides</h3>
                <p class="lead">We provides you unlimated quotations, jokes, story,funny lines , birthday wishes and many more. Just get in touch with us </p>
            </div><!-- end title -->
            <div class="row text-center">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="service-widget">
                        <div class="post-media wow fadeIn">
                            <img src="uploads/seo_01.png" alt="" class="img-responsive img-rounded">
                        </div>
                        <h3>Love Quotes</h3>
                        <p>यी आँखाले तिमीलाइ पछ्यारहन्छन तर ओठहरू बोल्दैनन जब ओठहरूमा मुस्कान भरिन्छ त्यतीबेला तिमी मेरो भइसक्नेछौ ।</p>
                    </div><!-- end service -->
                </div><!-- end col -->

                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="service-widget">
                        <div class="post-media wow fadeIn">
                            <img src="uploads/seo_02.png" alt="" class="img-responsive img-rounded">
                        </div>
                        <h3>Motivational</h3>
                        <p><br>सुखमा हिडने चार कदमले भन्दा दुखमा हिडने दुई कदमले धेरै थोक सिकाउछ । </p>
                    </div><!-- end service -->
                </div><!-- end col -->

                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="service-widget">
                        <div class="post-media wow fadeIn">
                            <img src="uploads/seo_03.png" alt="" class="img-responsive img-rounded">
                        </div>
                        <h3>Birthday Wishes</h3>
                        <p>मलाई आशा छ कि तपाईंको विशेष दिनले तपाईंलाई धेरै खुशी, प्रेम, र मजा ल्याउनेछ। Happy Birthday </p>
                    </div><!-- end service -->
                </div><!-- end col -->
            </div><!-- end row -->

            <hr class="invis">

            <div class="row text-center">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="service-widget">
                        <div class="post-media wow fadeIn">
                            <img src="uploads/seo_04.png" alt="" class="img-responsive img-rounded">
                        </div>
                        <h3>Sad /Broken</h3>
                        <p> आँखा रोएको त छिट्टै सुकिहाल्छ जब कोहि कसैको मन रुन्छ नि चिसोपना सधैं बाँकी नै रहन्छ</p>
                    </div><!-- end service -->
                </div><!-- end col -->

                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="service-widget">
                        <div class="post-media wow fadeIn">
                            <img src="uploads/seo_05.png" alt="" class="img-responsive img-rounded">
                        </div>
                        <h3>Best Friends</h3>
                        <p>थाह छैन कस्तो परिक्षा लिदै छ जीन्दगीले साथी,प्रेम अनि खुशी सबै एक एक गरि टाढा हुदैछन्। </p>
                    </div><!-- end service -->
                </div><!-- end col -->

                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="service-widget">
                        <div class="post-media wow fadeIn">
                            <img src="uploads/seo_06.png" alt="" class="img-responsive img-rounded">
                        </div>
                        <h3>Jokes</h3>
                        <p>टीचर : तिमी के रोज्छौ?? पैसा or दिमाग, स्टूडेंट : पैसा टीचर: गलत, म दिमाग लिन्थे… स्टूडेंट: जो सँग जे हुँदैन त्यही लिने त हो नि !!!</p>
                    </div><!-- end service -->
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->

    <svg id="clouds1" class="hidden-xs" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 85 100" preserveAspectRatio="none">
        <path d="M-5 100 Q 0 20 5 100 Z
            M0 100 Q 5 0 10 100
            M5 100 Q 10 30 15 100
            M10 100 Q 15 10 20 100
            M15 100 Q 20 30 25 100
            M20 100 Q 25 -10 30 100
            M25 100 Q 30 10 35 100
            M30 100 Q 35 30 40 100
            M35 100 Q 40 10 45 100
            M40 100 Q 45 50 50 100
            M45 100 Q 50 20 55 100
            M50 100 Q 55 40 60 100
            M55 100 Q 60 60 65 100
            M60 100 Q 65 50 70 100
            M65 100 Q 70 20 75 100
            M70 100 Q 75 45 80 100
            M75 100 Q 80 30 85 100
            M80 100 Q 85 20 90 100
            M85 100 Q 90 50 95 100
            M90 100 Q 95 25 100 100
            M95 100 Q 100 15 105 100 Z">
        </path>
    </svg>
